= turbo_frame_tag "review_question_listing" do
  - if @questions.present?
    - @questions.each do |question|
      - if question.reply.present?
        %div.p-4
          %p.text-sm
            ="Q: #{question.content}"
          %p.text-sm
            A: 
            %span.font-light=question.reply&.content
          %p.mt-2.text-xs.font-bold.text-gray-400=question.reply&.user.full_name
          %div.text-xs.text-gray-400.font-light.mt-1 
            = heroicon 'check-circle',variant: :solid , options: {class: "w-4 h-4 inline-block text-gray-500  "} 
            =repliyer_type(question.reply) 
        %hr 
  - else
    %p No Question and Reply
      
