.grid.grid-cols-1.gap-2
  = f.hidden_field :delivered_at, value: DateTime.now
  = f.hidden_field :status, value: 'delivered'
  %center 
    = image_tag 'deliver.svg', alt: '', height: '150px', width: 'auto'