%div
  %input.range-slider{:style => "display: none;", :type => "hidden", :value => "18,77"}
  .slider-container.theme-green{:style => "width: 250px;"}
    .back-bar
      .selected-bar{:style => "width: 148px; left: 45px;"}
      .pointer.low{:style => "left: 39px;"}
      .pointer-label.low{:style => "left: 36.7422px;"} $18
      .pointer.high{:style => "left: 187px;"}
      .pointer-label.high{:style => "left: 183.539px;"} $77
    .scale.fl.f-jcsb
      %span
        %ins 0
      %span
        %ins 100
