%div.py-12.px-8.bg-gray-50.dark:bg-gray-900.transition-colors.duration-300
  %div.text-center.mb-8
    %h2.bg-gradient-to-r.from-green-400.to-lime-500.text-center.text-2xl.md:text-3xl.font-extrabold.text-white.rounded-full.inline-block.px-8.py-4.shadow-lg
      Cancellation and Refund Policy
  %p.text-lg.md:text-xl.text-gray-800.dark:text-gray-300.underline.my-6.max-w-2xl.mx-auto.text-center.leading-relaxed
    This cancellation policy outlines how you can cancel or seek a refund for a product/service that you have purchased through the Platform. Under this policy:
  %ul.list-disc.pl-8.md:pl-12.text-gray-700.dark:text-gray-400.space-y-6.max-w-3xl.mx-auto.text-lg.leading-loose
    %li
      Cancellations will only be considered if the request is made within 1 day of placing the order. However, a cancellation request may not be entertained if the orders have been communicated to such sellers/merchants listed on the Platform, and they have initiated the process of shipping them, or the product is out for delivery. In such an event, you may choose to reject the product at the doorstep.
    %li
      In case of receipt of damaged or defective items, please report to our customer service team. The request will be entertained once the seller/merchant listed on the Platform, has checked and determined the same at its own end. This should be reported within 1 day of receipt of products. In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within 1 day of receiving the product. The customer service team, after looking into your complaint, will take an appropriate decision.
    %li
      In case of complaints regarding the products that come with a warranty from the manufacturers, please refer the issue to them.
    %li
      In case of any refunds approved by the seller, it will take 7 days for the refund to be processed to you.
    %li
      Usually, we don't provide any return.
