%div.py-12.px-8.bg-gray-50.dark:bg-gray-900.transition-colors.duration-300
  %div.text-center.mb-8
    %h1.bg-gradient-to-r.from-green-400.to-lime-500.text-center.text-2xl.md:text-3xl.font-extrabold.text-white.rounded-full.inline-block.px-8.py-4.shadow-lg
      Privacy Policy
  %ol.list-decimal.pl-8.md:pl-12.text-gray-700.dark:text-gray-400.space-y-6.max-w-3xl.mx-auto.text-lg.leading-relaxed
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        Non-Personal Information =>
      %p.pl-8.text-gray-700.dark:text-gray-400
        We may collect non-personal data such as browser type, operating system, and browsing behavior to improve our website and services.
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        How We Use Your Information =>
      %p.font-semibold.text-gray-800.dark:text-gray-200
        To Process Orders:
      %p.pl-8.text-gray-700.dark:text-gray-400
        We use your personal information to process and fulfill your orders.
      %p.font-semibold.text-gray-800.dark:text-gray-200
        To Communicate:
      %p.pl-8.text-gray-700.dark:text-gray-400
        We use your contact information to send you updates about your order, respond to inquiries, and send promotional materials if you have opted in.
      %p.font-semibold.text-gray-800.dark:text-gray-200
        To Improve Our Services:
      %p.pl-8.text-gray-700.dark:text-gray-400
        We analyze non-personal information to understand user behavior and enhance our website’s performance.
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        Information Sharing =>
      %p.font-semibold.text-gray-800.dark:text-gray-200
        Third-Party Service Providers:
      %p.pl-8.text-gray-700.dark:text-gray-400
        We may share your information with third-party service providers who assist us in operating our website, processing payments, and delivering orders.
      %p.font-semibold.text-gray-800.dark:text-gray-200
        Legal Requirements:
      %p.pl-8.text-gray-700.dark:text-gray-400
        We may disclose your information if required by law or to protect our rights.
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        Data Security =>
      %p.pl-8.text-gray-700.dark:text-gray-400
        We implement appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        Your Rights =>
      %p.font-semibold.text-gray-800.dark:text-gray-200
        Access and Correction:
      %p.pl-8.text-gray-700.dark:text-gray-400
        You have the right to access and correct your personal information. You can update your account details through our website.
      %p.font-semibold.text-gray-800.dark:text-gray-200
        Opt-Out:
      %p.pl-8.text-gray-700.dark:text-gray-400
        You can opt-out of receiving promotional emails by following the unsubscribe instructions in the emails.
    %li
      %h6.text-xl.font-semibold.underline.underline-offset-2.text-gray-800.dark:text-gray-200
        Changes to This Policy =>
      %p.pl-8.text-gray-700.dark:text-gray-400
        We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the revised date will be indicated at the top of the policy.
