%div.py-8.px-8
  %h1.bg-lime-300.text-center.rounded-full Privacy Policy
  %ol
    %li 
      %h6.underline.underline-offset-2 Non-Personal Information =>
      %p.pl-8   We may collect non-personal data such as browser type, operating system, and browsing behavior to improve our website and services.
    %li 
      %h6.underline.underline-offset-2  How We Use Your Information =>
      %p.font-semibold To Process Orders: 
      %p.pl-8 We use your personal information to process and fulfill your orders.
      %p.font-semibold  To Communicate: 
      %p.pl-8  We use your contact information to send you updates about your order, respond to inquiries, and send promotional materials if you have opted in.
      %p.font-semibold  To Improve Our Services: 
      %p.pl-8  We analyze non-personal information to understand user behavior and enhance our website’s performance.
    %li 
      %h6.underline.underline-offset-2 Information Sharing =>
      %p.font-semibold  Third-Party Service Providers:
      %p.pl-8   We may share your information with third-party service providers who assist us in operating our website, processing payments, and delivering orders.
      %p.font-semibold  Legal Requirements:
      %p.pl-8  We may disclose your information if required by law or to protect our rights.
    %li 
      %h6.underline.underline-offset-2 Data Security =>
      %p.pl-8  We implement appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.
    %li 
      %h6.underline.underline-offset-2 Your Rights =>
      %p.font-semibold  Access and Correction: 
      %p.pl-8  You have the right to access and correct your personal information. You can update your account details through our website.
      %p.font-semibold  Opt-Out: 
      %p.pl-8  You can opt-out of receiving promotional emails by following the unsubscribe instructions in the emails.
    %li 
      %h6.underline.underline-offset-2 Changes to This Policy =>
      %p.pl-8   We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the revised date will be indicated at the top of the policy