%div.py-12.px-8.bg-gray-50.dark:bg-gray-900.transition-colors.duration-300
  %div.text-center.mb-8
    %h1.bg-gradient-to-r.from-green-400.to-lime-500.text-center.text-2xl.md:text-3xl.font-extrabold.text-white.rounded-full.inline-block.px-8.py-4.shadow-lg
      Shipping Policy
  %div.text-gray-700.dark:text-gray-400.max-w-3xl.mx-auto.text-lg.leading-relaxed.space-y-4
    %p
      The orders for the user are shipped through registered domestic courier companies and/or speed post only. Orders are shipped within 5 to 7 days from the date of order payment, subject to courier company/post office norms. Platform Owner shall not be liable for any delay in delivery by the courier company/postal authority.
    %p
      Delivery of all orders will be made to the address provided by the buyer at the time of purchase. Delivery of our services will be confirmed on your email ID as specified at the time of registration. If there are any shipping cost(s) levied by the seller or the Platform Owner (as the case may be), the same is not refundable.
    %p
      For any issues in utilizing our services, you may contact our helpdesk at 
      %a.text-blue-600.hover:underline{ href: "mailto:chandraherbals2024@gmail.com" } chandraherbals2024@gmail.com.
