
%div.mx-auto.px-4.mt-20.bg-gray-100.w-full.h-screen.container.max-w-screen-lg
  .flex.pt-4
    = render 'indicator', {step: 3}
    .flex-grow.bg-white.ml-4.rounded
      %div.p-4.text-blue-500.text-2xl.bold Payment & Book order