%tr{id: dom_id(product)}
  %td.px-4.py-2= product.id
  %td.px-4.py-2= product.name
  %td.px-4.py-2= product.price
  %td.px-4.py-2= product.stock_quantity
  %td.px-4.py-2
    %button.edit-button.bg-blue-500.text-white.px-4.py-2.rounded{"data-id" => product.id, "data-action" => "modal#open"}
      Edit