.relative.overflow-x-auto.shadow-md.sm:rounded-lg
  .flex.items-center.justify-between.flex-column.md:flex-row.flex-wrap.space-y-4.md:space-y-0.p-4.bg-white
    %div
      -# %button#dropdownActionButton.inline-flex.items-center.text-gray-500.bg-white.border.border-gray-300.focus:outline-none.hover:bg-gray-100.focus:ring-4.focus:ring-gray-100.font-medium.rounded-lg.text-sm.px-3{:class => "py-1.5", "data-dropdown-toggle" => "dropdownAction", :type => "button"}
      -#   %span.sr-only Action button
      -#   Action
      -#   %svg{"aria-hidden" => "true", :class => "w-2.5 h-2.5 ms-2.5", :fill => "none", :viewbox => "0 0 10 6", :xmlns => "http://www.w3.org/2000/svg"}
      -#     %path{:d => "m1 1 4 4 4-4", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      -# / Dropdown menu
      -# #dropdownAction.z-10.hidden.bg-white.divide-y.divide-gray-100.rounded-lg.shadow.w-44
      -#   %ul.py-1.text-sm.text-gray-700{"aria-labelledby" => "dropdownActionButton"}
      -#     %li
      -#       %a.block.px-4.py-2.hover:bg-gray-100.dark:hover:bg-gray-600.dark:hover:text-white{:href => "#"} Reward
      -#     %li
      -#       %a.block.px-4.py-2.hover:bg-gray-100.dark:hover:bg-gray-600.dark:hover:text-white{:href => "#"} Promote
      -#     %li
      -#       %a.block.px-4.py-2.hover:bg-gray-100.dark:hover:bg-gray-600.dark:hover:text-white{:href => "#"} Activate account
      -#   .py-1
      -#     %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:href => "#"} Delete User
    = link_to "New Product", new_admin_product_path, class: "btn bg-green-600 text-white px-4 py-2 rounded-md"
    -# %label.sr-only{:for => "table-search"} Search
    -# .relative
    -#   .absolute.inset-y-0.rtl:inset-r-0.start-0.flex.items-center.ps-3.pointer-events-none
    -#     %svg.w-4.h-4.text-gray-500.dark:text-gray-400{"aria-hidden" => "true", :fill => "none", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
    -#       %path{:d => "m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    -#   %input#table-search-users.block.pt-2.ps-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.w-80.bg-gray-50.focus:ring-blue-500.focus:border-blue-500.dark:bg-gray-700.dark:border-gray-600.dark:placeholder-gray-400.dark:text-white.dark:focus:ring-blue-500.dark:focus:border-blue-500{:placeholder => "Search for users", :type => "text"}/
  = render 'table'
      
  // Edit user modal
  -# #editProductModal.hidden.fixed.inset-0.bg-gray-600.bg-opacity-50.flex.items-center.justify-center
  -#   .bg-white.rounded-lg.p-6{class: 'w-1/2', data: {controller: "product"}}
  -#     %h2.text-xl.font-semibold.mb-4 Edit Product
  -#     = form_with(model: @product, local: true, class: "space-y-6", id: "editProductForm", url: "#", method: :patch, data: {turbo_frame: "modal_frame"}) do |f|
  -#       .grid.grid-cols-1.md:grid-cols-2.gap-6
  -#         .col-span-1
  -#           %label.block.text-sm.font-medium.text-gray-700 Name
  -#           %div.mt-1
  -#             = f.text_field :name, class: "form-input block w-full border-gray-300 rounded-md shadow-sm", data: {target: "product.name"}

  -#         .col-span-1
  -#           %label.block.text-sm.font-medium.text-gray-700 Price
  -#           %div.mt-1
  -#             = f.number_field :price, step: 0.01, class: "form-input block w-full border-gray-300 rounded-md shadow-sm", data: {target: "product.price"}

  -#         .col-span-1
  -#           %label.block.text-sm.font-medium.text-gray-700 Stock Quantity
  -#           %div.mt-1
  -#             = f.number_field :stock_quantity, class: "form-input block w-full border-gray-300 rounded-md shadow-sm", data: {target: "product.stockQuantity"}

  -#         .col-span-2
  -#           %label.block.text-sm.font-medium.text-gray-700 Specification
  -#           %div.mt-1
  -#             = f.rich_text_area :specification, class: "form-input block w-full border-gray-300 rounded-md shadow-sm", data: {target: "product.specification"}

  -#         .col-span-2
  -#           %label.block.text-sm.font-medium.text-gray-700 Product Images
  -#           %div.mt-1
  -#             = f.file_field :product_images, multiple: true, class: "form-input block w-full border-gray-300 rounded-md shadow-sm", data: {action: "product#previewImages"}

  -#         .col-span-2
  -#           %div#imagePreview.mt-2.flex.flex-wrap{data: {target: "product.imagePreview"}}
  -#             - @product&.product_images&.each do |image|
  -#               %img{src: url_for(image), class: "w-20 h-20 object-cover mr-2"}

  -#       .flex.justify-end
  -#         %button.bg-red-500.text-white.px-4.py-2.rounded.mr-2{"type" => "button", "data-action" => "product#close"}
  -#           Cancel
  -#         = f.submit 'Save Changes', class: "btn bg-blue-600.text-white.px-4.py-2.rounded-md"