@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 0;
  margin: 0px;
}

.breadcrumbs > span.separator {
  color: rgb(145, 158, 171);
  font-size: 16px;
}

.breadcrumbs span {
  color: rgb(145, 158, 171);
}

.breadcrumbs  a, span {
  padding: 0px 6px;
}

.breadcrumbs a {
  color: rgb(33, 43, 54);
  font-size: 15px;
  color: rgb(33, 43, 54);
}

.breadcrumbs.first {
  padding-left: 0px;
  font-size: 25px;
  color: "red"
}

.breadcrumbs a:hover {
    text-decoration: var(--secondary_color);
}

.public-nav-active {
  background: white;
  color: green;
}

.cart-count{
  top: -16px;
  right: -16px;
  background-color: red !important;
  padding: 0px 4px;
  border-radius: 8px;
}
.public-nav-active .cart-count{
  color: #fff;
}
.flag {
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #084e8a;
  padding: 4px 10px;
  font-size: 15px;
  line-height: 17px;
  position: relative;
  margin-right: 12px;
  height: 25px;
}
.flag-extension{
  border-top: 12px solid #084e8a;
  border-bottom: 13px solid #084e8a;
  border-right: 13px solid transparent;
  position: absolute;
  right: -13px;
  top: 0;
}