.flex.justify-center.min-h-screen
  .container.mx-auto.px-4.mt-20.max-w-screen-xl
    .flex.justify-between.items-center.py-4
      .w-full.flex.justify-between
        %input{type: "text", placeholder: "Search for Products", class: "form-input w-full md:w-1/2"}
        .flex.items-center
          %button{class: "btn bg-gray-200 p-2 rounded-md"}
            %i.fas.fa-th
          %button{class: "btn bg-gray-200 p-2 rounded-md ml-2"}
            %i.fas.fa-list
    
    %div.container.mx-auto.px-4.mt-4
      %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-4
        - @products.each do |product|
          = render 'product_tiles_view', {product: product}
    -# .mt-4
    -#   .grid.grid-cols-1.gap-4
    -#     - @products.each do |product|
    -#       = render 'product_list_view', {product: product}
